.basket-price {
  max-width: 256px;
  margin: 3rem 0 4rem auto;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__sum {
    font-size: 1rem;
    color: #A8A8A8;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__vat {
    font-size: 1rem;
    color: #A8A8A8;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__total {
    color: #313037;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
  }
}
